
<div class="checkInPage container" ng-swipe-left="enter($event, checkInForm)" ng-swipe-right="prev()">

    <h1>Who are you?</h1>

    <form action="#" novalidate name="checkInForm" class="checkInForm"
          ng-class="{ 'show-validation' : showValidation}" ng-submit="enter($event, checkInForm)">

        <fieldset>

            <input class="userInfo" type="text" name="name" id="name" placeholder="Name" ng-model="colonist.name" required/>
            <input class="userInfo" type="number" name="age" id="age" placeholder="Age" ng-model="colonist.age" required>

            <div class="customSelect">

                <select name="select-occupation" id="select-occupation"
                        ng-class="{ placeholder: !colonist.job_id }" ng-model="colonist.job_id" required>

                    <option value="" class="placeholder">Select occupation</option>
                    <option value="{{ job.id }}" ng-repeat="job in jobs">{{ job.name }}</option>

                </select>
            </div>
        </fieldset>

        <fieldset>
            <input type="submit" class="btnStyle" value="Check in" >
        </fieldset>
    </form>
</div>
