
<div class="reportPage container" ng-swipe-right="prev()" ng-swipe-left="submit($event, reportForm)">

    <div class="reportHeading">
        <h1>Report Encounter</h1>
        <h3>Safety on Mars is your responsibility</h3>
    </div>

    <div class="formContainer">
        <form action="" ng-class="{ 'show-validation' : showValidation}" novalidate name="reportForm"
              class="reportForm" ng-submit="submit($event, reportForm)">

            <fieldset>
                <div class="customSelect">
                    <select name="select-alien" id="select-alien" ng-model="report.selectedAlien" required>
                        <option value="">Select alien type</option>
                        <option value="lizardMan">Lizard Man</option>
                        <option value="giantSlug">Giant Slug</option>
                        <option value="rogueAndroid">Rogue Android</option>
                        <option value="octospider">Octospider</option>
                        <option value="spiderpus">Spiderpus</option>
                    </select>
                </div>

                <textarea name="actionTaken" id="actionTaken" cols="30" rows="10" placeholder="Action taken"
                          ng-model="report.actionTaken" required></textarea>

            </fieldset>


            <fieldset>
                <input class="btnStyle" type="submit" value="Submit Report">
            </fieldset>

        </form>
    </div>
</div>
